<!DOCTYPE html>
<html>

<%- include('./partials/header') %>

  <body>
    <%- include("./partials/navbar") %>
      <!-- Set up bootstrap layout system -->
      <div class="container">
        <div class="row">
          <h1 class="text-center">Your Class's Learning Resources All In One Place</h1>
          <a href="/subjects">Click here to see your class subjects</a>

        </div>
      </div>

      </p>

  </body>

</html>