<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header') %>
    <body>
        <%- include('../partials/navbar') %>
        <h1>Class Subjects</h1>
        <button>Add A Subject</button>
    </body>

</html>