<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header') %>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Subject Resources</title>
    </head>

    <body>
        <%- include('../partials/navbar') %>
            <section id="show-page">
                <h1>
                    <%= subject.name %> Resources Page
                </h1>
                <form action="/subjects"<%= subject._id %> method="POST">
                    <input type="text" name="resources">
                    <button type="submit">Add Resource Name</button>
                    <input type="text" name="url">
                    <button type="submit">Add URL</button>
                    <input type="text" name="notes">
                    <button type="submit">Add Notes</button>
            </section>

    </body>

</html>